.form {
  max-width: 600px;
  width: initial;
  /* width: max-content; */
  margin: 30px auto;
  padding: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0 16px 20px rgb(0 0 0 / 10%);
  background-color: #fff;
}

/* @media (min-width: 576px) {
  .form {
    max-width: 540px;
    width: max-content;
  }
} */
/* @media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} */

/* / Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .form {
    width: max-content;
    padding: 20px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
/*  */
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
