.header {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header a {
  text-decoration: none;
  color: rgb(82, 82, 245);
  font-weight: bold;
  font-size: 17px;
}
