.card {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 0.9rem;
  width: fit-content;
  border-radius: 5px;
}
.label {
  font-size: 20px;
  font-weight: bold;
}
.card p {
  margin: 0 0 0.5rem 0;
}
